*.xml
__pycache__/

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml
django/mysite/db.sqlite3
django/.idea
reversi/.env
reversi/db.sqlite3
reversi/jquery-webpack-stats.json
reversi/webpack-stats.json
reversi/reversi/settings/local.py
reversi/assets/images/spritesmith-generated/
reversi/assets/sass/vendor/spritesmith.scss
