{% extends 'userconfig/base.html' %}

{% block title %}Effective Reversi{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Reset your password</h3>
        <p>メールの送信が完了しました。もししばらく待ってもメールを受信しない場合、
          メールがスパムフォルダに振り分けられていないかご確認ください。</p>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">ログイン画面へ</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
