{% extends 'userconfig/base.html' %}

{% block title %}Effective Reversi{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        {% if validlink %}
        <h3 class="card-title">Change password for {{ form.user.username }}</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'userconfig/form.html' %}
          <button type="submit" class="btn btn-success btn-block">パスワードを変更する</button>
        </form>
        {% else %}
        <h3 class="card-title">Reset your password</h3>
        <div class="alert alert-danger" role="alert">
          パスワードリセット用のリンクが不正なようです。もう一度やりなおしてください。
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">パスワードリセット用のリンクを再送する</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
