いつもお世話になっております。<br><br>

Effective Reversiのアカウントパスワードをリセットするには、
次のリンクをクリックしてください。<br><br>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a><br><br>

このリンクをクリックしても機能しない場合は、URLをコピーして
新しいブラウザウィンドウに貼り付けてください。<br><br>

このメールに心当たりがない場合、他の方がパスワードをリセットする際に誤って
お客様のメールアドレスを入力した可能性があります。<br>
リクエストした覚えがない場合は、
何も行わずにこのメールを破棄してください。<br><br>

Effective Reversiをご利用いただきありがとうございます。<br><br>

本メールは配信専用です。ご返信なさらぬようご注意ください。
