[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
django-naomi = "*"
isort = "*"
model-mommy = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
pytest = "*"
pytest-django = "*"
pytest-asyncio = "*"
safety = "*"
v = {version = "*", editable = true}

[packages]
django = "*"
celery = {extras = ["redis"]}
django-model-utils = "*"
django-webpack-loader = "*"
django-js-reverse = "*"
django-import-export = "*"
python-decouple = "*"
"psycopg2" = "*"
brotlipy = "*"
django-log-request-id = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psutil = "*"
ipython = "*"
channels = "*"
channels-redis = "*"
django-widgets-improved = "*"
prospector = "*"
"pypiwin32" = {version = "*", sys_platform = "== 'win32'"}
"pywin32" = {version = "*", sys_platform = "== 'win32'"}
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"

[requires]
python_version = "3.6"
