.board {
  display: block;
  margin-right: auto;
  margin-left: auto;
  .column {
    width: 100%;
    height: 12.5%;
    .square {
      display: inline-block;
      width: 12.5%;
      height: 100%;
      padding: 5px 5px;
      margin: 0 0;
      font-weight: bold;
      border: solid 1.5px #000000;
      background: #006400;
      .white {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: white;
      };
      .black {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: black;
      }
    }
  }
}
